header{
    width: 100vw;
}

header nav{
    width: 100%;
    padding: 0 0 0 1rem;
}

.carousel{
    width: 100vw;
}

.carousel img{
    height: 90vh;
}


.colss{
    
    
    background-color:  #ccc;
    
}

.col{
    margin: 1rem;
}

.padding{
    padding-top: 1rem;
}

html body{
    background-color: #eaeaea;
}

.foto{
    max-width: 30rem;
}

.head{
    

}

.grid-mty{
    padding: 1rem;
}